{% extends 'base.html' %}
{% block title %}
<title>{{data['name']}} department</title>
{% endblock %}
{% block main %}
<br><br>
<button type="submit" onclick="window.location.href ='{{url_for('departments.edit_department', department_id=data['id'])}}'">Edit</button>
<button type="submit" onclick="reallyDelete()">Delete</button>
<script>
    function reallyDelete() {
        if (confirm('Are you really want to delete this department?')) {
            window.location.href = '{{url_for('departments.delete_department', department_id=data['id'])}}'
        }
    }
</script>
{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor %}
<h1>{{data['name']}} department</h1>
<span>Find by date of birth</span>
<form method="get">
    <input type="date" name="date_of_birth_start" value="{{dates.get('start', '')}}">
    <input type="date" name="date_of_birth_end" value="{{dates.get('end', '')}}">
    <input type="submit" value="Search">
</form>

<br><br>
    <table border="1" style="width:50%">
        <tr>
            <th>Employee name</th>
            <th>Date of birth</th>
            <th>Salary</th>
        </tr>
        {% for values in data['employees'].values() %}
        <tr>
            <td><a href="{{values['link']}}">{{values['name']}}</a></td>
            <td>{{values['date_of_birth']}}</td>
            <td>{{values['salary']}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}