{% extends 'base.html' %}
{% block title %}
<title>{{data.get('title')}}</title>
{% endblock %}
{% block main %}
    <h2>{{data.get('message')}}</h2>
    {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
    {% endfor %}
    <form method="post">
        <span>Name: </span><input type="text" name="name" value="{{data.get('name', '')}}"><br>
        <span>Date of birth: </span><input type="date" name="date_of_birth" value="{{data.get('date_of_birth', '')}}"><br>
        <span>Department: </span><input list="departments" name="department" value="{{data.get('department', '')}}">
            <datalist id="departments">
                {% for department in data['departments'] %}
                <option value="{{department}}">
                {% endfor %}
            </datalist>
        <br>
        <span>Salary: </span><input type="text" name="salary" value="{{data.get('salary', '')}}"><span>$</span><br>
        <input type="submit" value="Save">
        <input type="submit" name="cancel" value="Cancel">
    </form>
{% endblock %}